.App{
    text-align: center;
    align-items: center;
    background-color: rgb(8, 147, 8);
}

.Canna{
    width: 400px;
    height: 500px;
}

.wrapper{
}

.mota-nav{
    display: flex;
    list-style: none ;
    justify-content: space-evenly;
    border: 4px black solid;
    font-size: 20px;
}



