.App{
    text-align: center;
    align-items: center;
}

.Canna{
    width: 400px;
    height: 500px;
}

.navigator{
    display: flex;
    border: 3px solid black;
}

.logo{
    border: 3px solid green;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.strain-nav{
        display: flex;
        
}