.App{
    min-width: 100vw;
    min-height :100vh;
    text-align: center;
    align-items: center;
    background-color: rgb(8, 114, 8);
}

.Canna{
    width: 400px;
    height: 500px;
}

nav{
    background:url('./images/Untitled\ collage.png');
    background-size: 1440px 150px;
    background-repeat: no-repeat;
    padding: 4%;
}

.mota-nav{
    display: flex;
    list-style: none ;
    justify-content: space-evenly;
    font-size: 20px;
}

.text-field{
   margin-left: -10px;
   margin-top: 10vh;
}

.text-button{   
    border-radius: 50%;
    outline-style: none;
    margin-left: 10px;
}

.race-upper-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.indica-hp{
    color: purple;
}

.weedies-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.strain-race-results{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    color: white;
    font-size: 20px;
}

.effects-form{
    margin-bottom: 50vh;
}

.h4-race{
    margin-top: 40%;
}

.desc-results{
    color:white;
}

.weedies0{
    width: 150px;
    height: 150px;
}